<div ng-controller="config">

    <div class= "btn-group">
    <select ng-model="data.theme" ng-options="bootstrap.url as bootstrap.name for bootstrap in bootstraps"></select>
    </div>

</div>

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Themes <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation" ng-click="addNewFolder()"><a role="menuitem" tabindex="-1" href="">New Folder</a></li>
    </ul>
</div>