<div class="jumbotron" ng-controller="config">
    <div class="row">
        <div class="col-xs-6">
            Change theme:&emsp;
            <div class= "btn-group">
                <select class="form-control" ng-model="data.theme" ng-options="bootstrap.url as bootstrap.name for bootstrap in bootstraps"></select>
            </div>
        </div>
        <div class="col-xs-6">
            Refresh emails, in milliseconds:&emsp;
            <div class= "btn-group">
                <input type="number" class="form-control" ng-model="myInterval">
            </div>
        </div>
    </div>
</div>