/* elements list */
@pink: #ffedf3;
@dunkel-pink: #ffa1c0;
@green: #f3ffed;

.container {

  .jumbotron {
    padding: 2rem;

    .table-responsive .table {
      .new {
        background-color: @pink;
      }

      tr {
        cursor: pointer;

        .sender,
        .title {
          font-weight: 600;
        }

        &:hover {
          background-color: @green;
        }

        .glyphicon.glyphicon-remove {
          color: grey;
          cursor: pointer;

          &:hover {
            color: @dunkel-pink;
          }
        }
      }
    }
  }

  .sendotron {
    padding: 2rem;

    .rounded(@radius : 5px) {
      -webkit-border-radius: @radius;
      -moz-border-radius: @radius;
      border-radius: @radius;
    }

    body {
      font-family: 'Lucida Grande', Arial, sans-serif;
      font-size: 13px;
      line-height: 20px;
    }

    input, textarea {
      border: 1px solid transparent;
      background: #eee;
      color: #333;
      outline: none;
      .rounded(3px);
      font-size: 13px;
      line-height: 20px;
    }

    .error {
      float: left;
      margin: 20px 10px;
      color: maroon;
    }

    form.ng-submitted .ng-invalid {
      border-color: red;
      border-width: 2px;
    }

    .left-label {
      position: relative;
      label, .fake-label {
        float: left;
        clear: left;
        margin: 20px 0;
        width: 120px;
      }
      input, textarea {
        float: left;
        display:block;
        margin: 14px 0 0;
        padding: 4px 3px 4px;
        line-height: 20px;
      }
      input[type=button], input[type=submit] {
        clear: left;
        margin: 20px 0 0 120px;
        padding: 4px 10px 4px 9px;
      }
    }

    .top-label {
      position: relative;
      float: right;
      bottom: 10px;
      label, .fake-label {
        display: block;
        margin: 28px 0 2px;
      }
      label:after {
        content: " :";
      }
      input {
        display:block;
        line-height: 20px;
        padding: 4px 3px 4px;
      }
      input[type=button], input[type=submit] {
        margin: 20px 0 0;
        padding: 4px 10px 4px 9px;
      }
    }

    .receivers {
      .receivers-table .table {

        tr {
          cursor: pointer;

          .sender{
            font-weight: 600;
          }

          &:hover {
            background-color: @dunkel-pink;
          }
        }
      }
    }
  }

  .list-group {
    .bigger {
      font-weight: 700;
    }
    .glyphicon {
      float: right;
      cursor: pointer;
      padding-left: 2rem;

      &:hover {
        color: @dunkel-pink;
      }
    }
  }

  .dropdown-menu {
    .newFolder {
      &.over {
        border: 2px dashed #000;
        background-color: @dunkel-pink;
      }
    }
  }
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}