<div class="panel panel-success" ng-controller="emailView">
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">
            <span class="bigger">Title: {{title}}</span>
            <span ng-click="removeEmail()" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span ng-click="back()" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </li>
        <li class="list-group-item">
            <span class="bigger">Received on:</span>
            TODO
        </li>
        <li class="list-group-item">
            <span class="bigger">From:</span>
            {{sender}}
        </li>
        <li class="list-group-item">
            <span class="bigger">To:</span>
            sosnowski@outlook.com
        </li>
        <li class="list-group-item">{{content}}</li>
    </ul>
</div>