/* elements list */
.container .jumbotron {
  padding: 2rem;
}
.container .jumbotron .table-responsive .table .new {
  background-color: #ffedf3;
}
.container .jumbotron .table-responsive .table tr {
  cursor: pointer;
}
.container .jumbotron .table-responsive .table tr .sender,
.container .jumbotron .table-responsive .table tr .title {
  font-weight: 600;
}
.container .jumbotron .table-responsive .table tr:hover {
  background-color: #f3ffed;
}
.container .jumbotron .table-responsive .table tr .glyphicon.glyphicon-remove {
  color: grey;
  cursor: pointer;
}
.container .jumbotron .table-responsive .table tr .glyphicon.glyphicon-remove:hover {
  color: #ffa1c0;
}
.container .list-group .bigger {
  font-weight: 700;
}
.container .list-group .glyphicon {
  float: right;
  cursor: pointer;
  padding-left: 2rem;
}
.container .list-group .glyphicon:hover {
  color: #ffa1c0;
}
.container .dropdown-menu .newFolder.over {
  border: 2px dashed #000;
  background-color: #ffa1c0;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
